<nav class="nav navbar-expand-lg navbar-dark navbar-primary fixed-top">
    <div class="container">
        <a href="#" class="navbar-brand">Shopping</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="#" class="nav-link active">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Products</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Cart</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Order</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Add Product</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Admin Product</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Add Category</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Admin Categories</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Register</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Logout</a>
            </li>
        </ul>
    </div>
</nav>